{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}

{% block metatags %}
  {{ super() }}
  {% if article.description %}
    <meta property="og:description" content="{{article.description}}" />
  {% endif %}
  {% if article.image %}
    <meta property="og:image" content="{{ article.image }}" />
  {% endif %}
  {% for tag in article.tags %}
    <meta property="tags" content="{{tag}}" />
  {% endfor %}
  <meta property="og:url" content="{{ SITEURL }}/{{ article.slug }}/" />
  <meta property="og:title" content="{{ article.title }} - {{ SITENAME }}" />
  <meta property="og:type" content="article" />
  <meta property="og:author" content="{{ article.author }}" />
  <meta property="og:locale" content="pt_BR">
  <meta property="og:site_name" content="Blog Músicas para Missa">
{% endblock metatags %}

{% block content %}

<!-- GRID POSTS -->
<!--===============================================================-->
<div class="col-sm-8 grid-posts">
  <!-- POST ITEM 1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="wrapper-post">
        <div class="wrapper-post-text">
          <h3 class="title-lg text-uppercase text-theme"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
          <ul class="list-unstyled list-inline text-theme post-date-author">
            <li style="text-align:right;">
              Por {% for author in article.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
              {% endfor %}
            </li>
            <li>
              <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread"><i class="fa fa-comment-o"></i></a>
            </li>
          </ul>

          {{ article.content }}

          {% include 'banners/banner-adsense-bottom.html' %}

          {% set author = article.author %}
          {% include 'author-info.html' %}

          {% include 'comments.html' %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
