<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        {% include 'header.html' %}

        {% endblock head %}
</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">
		{% include 'navbar.html' %}

    <div class="container content">

      {% include 'banner-top.html' %}

      <div class="row">

        {% block content %}
        {% endblock %}

        {% include 'sidebar.html' %}

      </div>

    </div>
  </div>

  {% include 'footer.html' %}

</body>
</html>
