<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link rel="canonical" href="http://blog.musicasparamissa.com.br/" />
  <link rel="publisher" href="https://plus.google.com/u/0/+MusicasparamissaBr/" />
  <link rel="icon" href="https://static.musicasparamissa.com.br/images/favicon.ico" />
  <!--[if IE 8]><html class="ie8"><![endif]-->

  {% block metatags %}
  <meta charset="utf-8" />
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% endblock metatags %}

  {% include 'css-loader.html' %}

</head>

<body class="body-nav-fixed-menu-top">
  <div class="wrapper-body">
		{% include 'navbar.html' %}

    <div class="container content">

      {% include 'banners/banner-adsense-top.html' %}

      <div class="row">

        {% block content %}
        {% endblock %}

        {% include 'sidebar.html' %}

      </div>

    </div>
  </div>

  {% include 'footer.html' %}

</body>
</html>
