{% extends "base.html" %}
{% block metatags %}

  {{ super() }}
    <meta name="description" content="Blog para músicos católicos que servem na missa."/>
    <meta property="og:image" content="https://static.musicasparamissa.com.br/images/logo/logoMpM.png" />
{% endblock %}

{% block content %}
    <!-- GRID POSTS -->
    <!--===============================================================-->
    <div class="col-sm-8 grid-posts">

        {% block content_title %}{% endblock %}

{% for article in articles_page.object_list %}
      <!-- POST ITEM 1 -->
      <div class="row">
        <div class="col-sm-12">
          <div class="wrapper-post">
            <a href="{{ SITEURL }}/{{ article.url }}" class="text-theme display-block">
                  <img src="{{ article.image }}" class="img-responsive full-width" alt="img-theme">
            </a>
            <div class="wrapper-post-text">
              <h3 class="title-lg text-uppercase text-theme"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
              <ul class="list-unstyled list-inline text-theme post-date-author">
                <li style="text-align:right;">
                  Por {% for author in article.authors %}
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                  {% endfor %}
                </li>
                <li>
                  <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread"><i class="fa fa-comment-o"></i></a>
                </li>
              </ul>
              <p>{{ article.summary }}</p>
              <a href="{{ SITEURL }}/{{ article.url }}" class="text-theme btn btn-primary btn-md">Continue lendo ...</a>
            </div>
          </div>
        </div>
      </div>
{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

  </div>

{% endblock content %}
