<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://dm8sjho5caga5.cloudfront.net/assets/js/jquery-1.12.4.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/js/bootstrap.min.js"></script>

<script async="" src="https://dm8sjho5caga5.cloudfront.net/js/search.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/page/carousel-preload.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/page/page.navbar-fixed-shrinked.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/owl.carousel.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/jquery.waypoints.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/jquery.magnific-popup.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/jquery.countTo.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/page/theme.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/assets/js/page/page.home.js"></script>
<!-- Calendário -->
<script src="https://dm8sjho5caga5.cloudfront.net/js/bootstrap-datepicker.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/locale/bootstrap-datepicker.pt-BR.js"></script>
<script async="" src="/theme/js/calendar.js"></script>

<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/players/rf-player.js?_t=c030c65039ddff7631683acfdaced3b8"></script>
<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/radiofacil-assets/compressed/players/player-20160913.js?_t=c030c65039ddff7631683acfdaced3b8"></script>

<script async="" src="https://dm8sjho5caga5.cloudfront.net/js/star_ratings_complement.min.js"></script>
<script async="" src="https://dm8sjho5caga5.cloudfront.net/js/star_ratings.min.js"></script>

<script id="dsq-count-scr" src="//blog-musicas-para-missa.disqus.com/count.js" async></script>
