<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ STATIC_ENDPOINT }}/assets/js/jquery-1.12.4.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/js/bootstrap.min.js"></script>

<script async="" src="{{ STATIC_ENDPOINT }}/js/search.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/page/carousel-preload.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/page/page.navbar-fixed-shrinked.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/owl.carousel.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/jquery.waypoints.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/jquery.magnific-popup.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/jquery.countTo.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/page/theme.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/assets/js/page/page.home.js"></script>
<!-- Calendário -->
<script src="{{ STATIC_ENDPOINT }}/js/bootstrap-datepicker.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/locale/bootstrap-datepicker.pt-BR.js"></script>
<script async="" src="/theme/js/calendar.js"></script>

<script async="" src="{{ STATIC_ENDPOINT }}/js/star_ratings_complement.min.js"></script>
<script async="" src="{{ STATIC_ENDPOINT }}/js/star_ratings.min.js"></script>

<script id="dsq-count-scr" src="//blog-musicas-para-missa.disqus.com/count.js" async></script>
