<!-- NAVBAR -->
<!--===============================================================-->
<div id="header">
  <nav id="nav" class="navbar navbar-default navbar-fixed-top">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="img-responsive" src="https://static.musicasparamissa.com.br/images/logo/logoMpM-300x223.png" alt="theme-img"></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <!-- Músicas para Missa -->
          <li>
            <a href="https://musicasparamissa.com.br" role="button">Voltar ao Músicas para Missa</a>
          </li>

          {% include 'search-field.html' %}

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</div>
<!-- NAVBAR END -->
